<form class="example-form" *ngIf="project">
  <p>
    <mat-form-field class="example-full-width" style="width:450px !important">
      <mat-label>Name</mat-label>
      <input type="text" matInput [(ngModel)]="project.name" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="example-full-width" style="width:450px !important">
      <mat-label>Description</mat-label>
      <input type="text" matInput [(ngModel)]="project.description" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="example-full-width" style="width:450px !important">
      <mat-label>Start Date</mat-label>
      <input type="date" matInput [(ngModel)]="project.startDate" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="example-full-width" style="width:450px !important">
      <mat-label>Deadline Date</mat-label>
      <input type="date" matInput [(ngModel)]="project.deadlineDate" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
  </p>

  <div class="tech-container">
    <div class="tech-dropdown" *ngIf="!isTechnologyInputVisible">
      <mat-form-field appearance="fill">
        <mat-label>Technologies</mat-label>
        <mat-select [(ngModel)]="project.technologies" [ngModelOptions]="{standalone: true}" multiple (selectionChange)="setTechGroup()">
          <mat-option *ngFor="let technology of technologies" [value]="technology">
            {{technology.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="input-group mb-3 input-tech" *ngIf="isTechnologyInputVisible">
      <input type="text" (keyup)="onKeyUp($event)" class="form-control" placeholder="Technology" aria-label="Username"
        aria-describedby="basic-addon1">
    </div>
    <button mat-flat-button
      [ngClass]="{'add-tech-button-input': isTechnologyInputVisible, 'add-tech-button-dropdown': !isTechnologyInputVisible}"
      (click)="showAddTechnology()">
      <span class="material-icons">
        add_circle
      </span>
    </button>
  </div>

  <p>
    <mat-form-field appearance="fill">
      <mat-label>Employees</mat-label>
      <mat-select [(ngModel)]="project.employees" [ngModelOptions]="{standalone: true}" multiple>
        <mat-optgroup *ngFor="let tech of techAndEmployeesGroup" [label]="tech.name">
          <mat-option *ngFor="let user of tech.users" [value]="user">
            {{user.name}} {{user.experienceInDays | experienceToString: tech}}
          </mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="fill">
      <mat-label>Client</mat-label>
      <mat-select [(ngModel)]="project.client" [ngModelOptions]="{standalone: true}">
        <mat-option *ngFor="let client of clients" [value]="client">
          {{client.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </p>
</form>


<button mat-flat-button [mat-dialog-close]="project" class="save-button" color="primary">
  Save
</button>