<app-technology-experience-chart *ngIf="technologies" [technologies]="technologies"></app-technology-experience-chart>
<br><br>
<app-user-growth *ngIf="dataRowsUserGrowth" [dataRows]="dataRowsUserGrowth"></app-user-growth>
<br><br>
<app-progress-of-projects *ngIf="progressOfProjects" [progressOfProjects]="progressOfProjects"></app-progress-of-projects>
<br><br>
<app-skill-rating-chart *ngIf="skillRatings" [skillRatings]="skillRatings" > </app-skill-rating-chart>
<br><br>
<app-assigned-projects-chart *ngIf="usersWithProjects" [usersWithProjects]="usersWithProjects"></app-assigned-projects-chart>
<br><br>
<app-most-used-technologies *ngIf="mostUsedTech" [mostUsedTech]="mostUsedTech"></app-most-used-technologies>