.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  color: white;
  font-weight: 600;}
img {
  margin: 0 16px;
}
a {
  color: ghostwhite;
  padding: 10px;
}

.content {
  display: flex;
  margin-top: 70px;
  padding: 0 16px;
  flex-direction: column;
}

a:hover {
  color: white;
}

.toolbar {
  display: flex;
  background-color:black;
}

.toolbar img {
  margin: 0 40px;
}

.lnk:hover {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: white;
}

button {
  position: absolute;
  right: 20px;
}

.mat-raised-button {
  background-color: #00529b;
  color: white;
}
