<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form">
                <span class="login100-form-title">
                    Sign In
                </span>

                <div class="wrap-input100 validate-input">
                    <input class="input100" type="text" name="email" placeholder="Email" [(ngModel)]="email">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input">
                    <input class="input100" type="password" name="pass" placeholder="Password" [(ngModel)]="password">
                    <span class="focus-input100"></span>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" (click)="onLogin()">
                        Log in
                    </button>
                </div>

                <div class="flex-col-c">
                    <span class="txt1 no-account">
                        Don’t have an account?
                    </span>

                    <a class="txt3">
                        Contact your admin
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>